header{background-color: rgb(64, 64, 84);}

.header__list-item{
    display: flex;
}

.header__menu-list{
    display: flex;
}

.header__nav-list{
    display: flex;
    justify-content: space-between;
    width: 572px;
}

.header__nav-link{
    color: $title-light;
}

.header__list{
    display: flex;
}
